<div id="wrapper">
  <div class="thumbnail" style="background-image: url('https://pbs.twimg.com/media/CvwwuZ3VMAAMwMr.jpg')">
  </div>
  <div class="label">
    <div class="profile_icon">
      <img src="https://pbs.twimg.com/profile_images/782953235233460225/n4TWnsdX_400x400.jpg">
    </div>
    <div class="text">
      <div class="user">
        ぱらつり(<a href="https://yahoo.co.jp">@paralleltree</a>)
      </div>
      <div class="tweet">
        <p>
        </p>
      </div>
    </div>
  </div>
</div>
