<div id="wrapper" v-cloak>
  <div class="thumbnail" v-bind:style="{ 'background-image': 'url(' + current_media.url + ')' }">
  </div>
  <span class="tag" v-show="failed">Oops!</span>
  <div class="label" v-show="!initializing">
    <div class="profile_icon">
      <img src="{{ current_status.user.profile_image_url }}">
    </div>
    <div class="text">
      <div class="user">
        {{ current_status.user.name }}(<a href="https://twitter.com/{{ current_status.user.screen_name }}">@{{ current_status.user.screen_name }}</a>)
      </div>
      <div class="tweet">
        <p>
          {{ current_status.text }}
        </p>
      </div>
    </div>
  </div>
</div>

<script src="js/script.js" type="text/javascript"></script>
