body {
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
  font-size: 4vw;

  a {
    color: #bbb;
    text-decoration: none;
    &:hover {
      color: #ddd;
      text-decoration: underline;
    }
  }
}

[v-cloak] {
  display: none;
}
#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumbnail {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.label {
  width: 100%;
  height: 34vh;
  overflow: hidden;

  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  .profile_icon {
    float: left;
    margin: 1.5vw;
    vertical-align: middle;
    img {
      width: 10vw;
      border-radius: 10px;
      vertical-align: bottom;
    }
  }

  .text {
    vertical-align: middle;

    .tweet {
      p {
        br {
          display: none;
        }

        margin: 0;
        overflow: hidden;
        text-overflow: clip;
        -webkit-text-overflow: ellipsis; /* Safari */
        -o-text-overflow: ellipsis; /* Opera */
      }
    }
  }
}

.tag {
  position: absolute;
  right: 0px;
  top: 10vh;
  background-color: #e02e21;
  color: white;
  font-size: 2vw;
  padding: 2px 15px;
  border: white solid 2px;
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1vw 1vh 8px -4px #000;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
